body {
  background-color: #ececec;
  background: url('/storage/background.jpg') round;
  font-size: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

img {
  max-width: 100%;
}

.footer {
  background-color: #f5f5f5;
}

.logo {
  width: 105px;
}

h2, h1 {
  text-align: center;
}

.red-line {
  text-indent: 20px;
}

.btn-outline-light:hover {
  color: #0c426f !important;
}

.bg-blue {
  background: #0c426f;
  border-bottom: 1px solid #09355a;
  color: #fff;
}

.card {
  height: 100%;
}

.card.success {
  background-color: #e4ffef;
}

.card.info {
  background-color: #e2f5f8;
  border-color: #bee5eb;
}

.success a.page-link, tr.confirm {
  color: #fff;
  background-color: #38c172;
  border-color: #38c172;
}

.info a.page-link {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
