.form-control-plaintext {
    display: block;
    width: 100%;
    padding: 0.375rem 0;
    margin-bottom: 0;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
}
